.cart_container_cards {
    display: none;
    flex-wrap: wrap;
    padding: unset;
    .card {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #612a2a;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
        transform: rotateY(0deg);
        transform-style: preserve-3d;
        transition: transform 5s;
        cursor: pointer;
        position: relative;
    }
    .card-text {
        display: inline;
        color: #fff;
        font-size: 1.5em;
        width: 88%;
        height: 19%;
        text-align: center;
        padding-top: 0px;
        position: absolute;
    }
    li {
        list-style: none;
        margin: 10px;
        flex: 1 0 20%;
    }
    @media (max-width: 768px) {
        li {
            list-style: none;
            margin: 10px;
            flex: 1 0 30%;
        }
    }
    @media (max-width: 375px) {
        li {
            list-style: none;
            margin: 10px;
            flex: 1 0 43%;
        }
    }
    li:before {
        content: "";
        float: left;
        padding-top: 100%;
    }
}

.card_button_switch {
    cursor: pointer;
    font-size: 2em;
    width: 100%;
    height: 105px;
    text-align: center;
    color: #fff;
    z-index: 5;
    margin: auto auto auto auto;
    padding-top: 40px;
}

.card_button_switch:hover {
    color: red;
}