$bg-color:rgba(147,206,222,1);
$bg-gradient:linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 0%, rgba(250,128,114,1) 100%);
$bg-filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#fa8072', GradientType=1 );