@import './bgcolor/color';
@import './cards/cards_style.scss';
body {
    background: $bg-gradient;
    background-size: cover;
    filter: $bg-filter;
}

.wrapper {
    width: 100%;
    height: calc(100% + 100vh);
}

.main_wrapper {
    width: 76%;
    height: auto;
    margin: auto;
}

.navbar {
    background: linear-gradient(45deg, rgba(232, 255, 161, 1) 0%, rgba(135, 0, 52, 0.57) 66%, rgba(135, 0, 52, 0.35) 100%);
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #000000;
    box-shadow: 0px 3px 17px -2px rgba(0, 0, 0, 0.75);
}

.burger_menu {
    margin-top: 3%;
    width: 40px;
    height: 36px;
    margin-left: 2%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
    span {
        font-size: 2em;
    }
}

.swich_block {
    margin-right: 2%;
    margin-top: 5%;
    width: 90px;
    height: 36px;
}

.cart_container {
    display: flex;
    flex-wrap: wrap;
    padding: unset;
    li {
        list-style: none;
        margin: 10px;
        flex: 1 0 20%;
    }
    @media (max-width: 768px) {
        li {
            list-style: none;
            margin: 10px;
            flex: 1 0 30%;
        }
    }
    @media (max-width: 375px) {
        li {
            list-style: none;
            margin: 10px;
            flex: 1 0 43%;
        }
    }
    li:before {
        content: "";
        float: left;
        padding-top: 100%;
    }
}

.button_start {
    background: linear-gradient(135deg, rgba(235, 179, 228, 1) 0%, rgba(255, 0, 200, 1) 51%, rgba(188, 224, 238, 1) 100%);
    width: 36%;
    margin: auto;
    height: 57px;
    border: 2px solid #000000;
    border-radius: 24px 24px 24px 24px;
    box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    display: none;
    transition: width 0.5s;
}

span {
    display: inline-block;
    margin-left: 17%;
    margin-top: -4%;
    font-size: 3em;
    transition: transform 0.3s;
    @media (max-width: 1160px) {
        font-size: 2em;
        margin-left: 25%;
        margin-top: 0%;
        transition: transform 0.3s;
    }
    @media (max-width: 862px) {
        font-size: 1.5em;
        margin-left: 17%;
        transition: transform 0.3s;
    }
    @media (max-width: 566px) {
        font-size: 1em;
        margin-left: 21%;
        margin-top: 10%;
        transition: transform 0.3s;
    }
    @media (max-width: 400px) {
        font-size: 0.8em;
        margin-left: 17%;
        transition: transform 0.3s;
    }
}

.cart_container {
    .card {
        width: 229px;
        height: 102%;
        background: linear-gradient(to right, rgba(255, 94, 94, 0.7) 0%, rgba(239, 1, 124, 0.99) 54%, rgba(239, 1, 124, 1) 54%);
        opacity: 0.9;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
        cursor: pointer;
        overflow: hidden;
        .card-img-top {
            border-radius: 200px 200px 200px 200px;
        }
        .card-text {
            text-align: center;
            font-size: 1.5em;
        }
    }
}

.card:hover {
    box-shadow: 0 8px 13px 0px rgba(0, 0, 0, .75);
    transition: box-shadow 0.3s;
}

.blackout {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    height: 100%;
    display: none;
    margin-left: 0%;
    z-index: 1;
    transition: background-color 1s;
}

.navMenu {
    z-index: 1;
    display: flex;
    position: absolute;
    background: $bg-color_burger_menu;
    width: 29%;
    height: 106vh;
    transform: translate(-173%, 36vh);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #000000;
    transition: transform .5s, -webkit-transform .5s;
    @media (max-width: 1050px) {
        z-index: 1;
        display: flex;
        position: absolute;
        background: $bg-color_burger_menu;
        width: 31%;
        height: 106vh;
        transform: translate(-173%, 36vh);
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        border: 1px solid #000000;
        transition: transform .5s, -webkit-transform .5s;
    }
    @media (max-width: 734px) {
        z-index: 1;
        display: flex;
        position: absolute;
        background: $bg-color_burger_menu;
        width: 32%;
        height: 106vh;
        transform: translate(-173%, 36vh);
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        border: 1px solid #000000;
        transition: transform .5s, -webkit-transform .5s;
    }
    @media (max-width: 550px) {
        z-index: 1;
        display: flex;
        position: absolute;
        background: $bg-color_burger_menu;
        width: 34%;
        height: 106vh;
        transform: translate(-173%, 36vh);
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        border: 1px solid #000000;
        transition: transform .5s, -webkit-transform .5s;
    }
    @media (max-width: 375px) {
        z-index: 1;
        display: flex;
        position: absolute;
        background: $bg-color_burger_menu;
        width: 38%;
        height: 106vh;
        transform: translate(-173%, 36vh);
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        border: 1px solid #000000;
        transition: transform .5s, -webkit-transform .5s;
    }
}

.list_menu {
    margin-top: 9vh;
    list-style-type: none;
    text-transform: uppercase;
    width: 98%;
    height: 393px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1228px) {
        margin-top: 22vh;
        list-style-type: none;
        text-transform: uppercase;
        width: 98%;
        height: 393px;
        display: flex;
        flex-direction: column;
    }
    @media (max-width: 912px) {
        margin-top: 22vh;
        list-style-type: none;
        text-transform: uppercase;
        width: 100%;
        height: 393px;
        display: flex;
        flex-direction: column;
        margin-left: -32px;
    }
    li {
        // margin: auto auto auto 35%;
        cursor: pointer;
        font-size: 2em;
        @media (max-width: 734px) {
            cursor: pointer;
            font-size: 1.5em;
        }
        @media (max-width: 550px) {
            cursor: pointer;
            font-size: 1em;
        }
    }
    li:hover {
        // margin: auto auto auto 35%;
        cursor: pointer;
        font-size: 2em;
        color: red;
        @media (max-width: 734px) {
            cursor: pointer;
            font-size: 1.5em;
        }
        @media (max-width: 550px) {
            cursor: pointer;
            font-size: 1em;
        }
    }
}

.wrapper_checkbox {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrapper_checkbox input[type=checkbox] {
    width: 120px;
    height: 50px;
    background-color: #fff;
    -webkit-appearance: none;
    border-radius: 30px;
    outline: none;
    position: relative;
    box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, .5);
    font-weight: bolder;
    font-size: 22px;
}

.wrapper_checkbox input[type=checkbox]:before {
    cursor: pointer;
    content: 'Train';
    position: absolute;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    background-color: #ec0f7d;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .5);
    left: 54px;
    top: -8px;
    transition-duration: .5s;
}

.wrapper_checkbox input:checked[type=checkbox] {
    background-color: #262626;
}

.wrapper_checkbox input:checked[type=checkbox]:before {
    content: 'Play';
    cursor: pointer;
    background-color: #f600ff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5);
    left: 0;
    transition-duration: .5s;
    color: #fff;
}

.title {
    position: absolute;
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 1.9em;
}

.audio_block {
    color: #000;
}

.voice_list {
    display: none;
}

.audio_form {
    display: none;
}

.fin_banner {
    position: absolute;
    background-color: #00f;
    display: none;
    width: 0%;
    height: 79%;
    text-align: center;
    margin-left: 17%;
    margin-top: 5%;
    z-index: 6;
    font-size: 7em;
    transition: width .5s;
}

.win_star {
    position: absolute;
    width: 28%;
    height: 28%;
    margin-left: calc(100% - 31%);
    text-align: right;
    top: 13%;
    font-size: 2em;
}